{{ define "main" }}
  <h2>{{ .Title }}</h2>
  {{ .Content }}
  {{ range .Pages.ByTitle }}
    {{ if .Pages }}
    <details class="collapsible-section">
      <summary>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ if and (eq .Section "films") (eq (index .Params "film-type") "short") }} (short){{ end }}
      </summary>
      <ul>
        {{ range .Pages.ByTitle }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ if and (eq .Section "films") (eq (index .Params "film-type") "short") }} (short){{ end }}</li>
        {{ end }}
      </ul>
    </details>
    {{ else }}
    <div class="section-link">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ if and (eq .Section "films") (eq (index .Params "film-type") "short") }} (short){{ end }}
    </div>
    {{ end }}
  {{ end }}
{{ end }}
