{{ define "main" }}
  <h2>{{ .Title }}</h2>

  {{ .Content }}
  {{ range .Pages.ByTitle }}
    <details class="collapsible-section">
      <summary>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ if and (eq .Section "films") (eq (index .Params "film-type") "short") }} (short){{ end }}
      </summary>
      <ul>
        {{ range .Pages.ByTitle }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ if and (eq .Section "films") (eq (index .Params "film-type") "short") }} (short){{ end }}</li>
        {{ end }}
      </ul>
    </details>
    {{ end }}
  {{ end }}
